#!/bin/bash
################################################################################
# Configuration for the mediaWikiBackup.sh script
################################################################################

# A space separated list of instance name(s) by their mediawiki instance path to
# back up (i.e. /var/www/wiki.example.org/htdocs/mediawiki). If left empty,
# every instance found via webapp-config will be backuped.
INSTANCES=""

# The file to lock the MediaWiki beginnig from the instance path
LOCK_FILE="lockMessage.html"

# What do we tell the users during the lock. HTML tags can be used
LOCK_MSG_EN="<p align="center" style="font-size:2em;">This MediaWiki is <span style="color:red; font-weight:bold">locked for backup</span>. Come along again.</p><p align="center">If you think that this process already took too long, please contact your [mailto:wiki-admin@example.org Wiki Administrator]</p><br />"

# The database dump command
DBDUMP_CMD="su -c /usr/sbin/mysql-backup.sh - mysql-backup"

# The command that runs after the database(s) has been dumped
POST_JOB="/usr/bin/OnlineBackup.pl -c /etc/OnlineBackup/OnlineBackup.conf"

# The recipient of mails if something fails, leave empty to omit warn mails
RCP_MAIL=""

# The sender to set of mails if something fails
SND_MAIL=""

# The command used to send mails
MAIL_CMD="/usr/bin/msmtp"
